In [1]:
d={'name':'python',}

In [2]:
d

{'name': 'python'}

keys should be immutable
values can be any vlid python object]
each is unique such that there is no repition of keys allowed

In [19]:
d={
    'name':"python",
    'version':3.7,
    'year':1994,
    'father':"guido van rossum"
}

In [23]:
d.setdefault('user','nidhi')

'nidhi'

In [25]:
d.get('name',"No such detail")

'python'

In [26]:
d.get('duration',"No such detail")

'No such detail'

In [6]:
hash('python')

4613046392667462568

In [11]:
data_list ={ 1123:{'name':'abc',
    'password':'1342',
    'balance':'9000',
    'pan_card':'none'},
1001:{'name':'ram',
    'acc_no':'1001',
    'password':'5678',
    'balance':'5000',
    'pan_card':'48490'},
  7990:  {'name':'ghjk',
    'acc_no':'7990',
    'password':'9000',
    'balance':'80000',
    'pan_card':'67899'
}}

In [12]:
data_list

{1123: {'name': 'abc',
  'password': '1342',
  'balance': '9000',
  'pan_card': 'none'},
 1001: {'name': 'ram',
  'acc_no': '1001',
  'password': '5678',
  'balance': '5000',
  'pan_card': '48490'},
 7990: {'name': 'ghjk',
  'acc_no': '7990',
  'password': '9000',
  'balance': '80000',
  'pan_card': '67899'}}

In [13]:
data_list[1123]['name']

'abc'

In [27]:
data_list[1123]['name']

'abc'

In [28]:
user={'name':'nidhi','age':20,'color':'black'}

In [30]:
user.update(name='nidhi joshi')

In [31]:
user

{'name': 'nidhi joshi', 'age': 20, 'color': 'black'}

In [32]:
user.values()

dict_values(['nidhi joshi', 20, 'black'])

In [33]:
user.pop('age')

20

In [34]:
user

{'name': 'nidhi joshi', 'color': 'black'}

In [1]:
d=dict({'py','th','on'})

In [2]:
d

{'t': 'h', 'o': 'n', 'p': 'y'}

In [3]:
d.pop()

TypeError: pop expected at least 1 arguments, got 0

In [4]:
d.pop('t')

'h'

In [5]:
d

{'o': 'n', 'p': 'y'}

In [1]:
'abc'+'abcabc'

'abcabcabc'

In [2]:
'abc'*3

'abcabcabc'

In [3]:
'abc'+3

TypeError: can only concatenate str (not "int") to str

In [4]:
[]

[]